
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 200px); /* 4 colonnes de carrés */
    grid-gap: 20px;
}

.square {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;  /* Centrer horizontalement */
    align-items: center;      /* Centrer verticalement */
    color: white;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

